<head>
  <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="../css/custom_css/footer.css" rel="stylesheet">
</head>
<div class="doj-seal-postion">
  <a target="_blank" href="https://oag.ca.gov"><img src="../img/doj_seal.png" height="100px"></a>
</div>
<div>
  <div class="footer-link-position">
    <a class="footer-links" href="#">FAQ</a>
  </div>
  <div class="footer-link-position">
    <a class="footer-links" href="#">Announcements</a>
  </div>
  <div class="footer-link-position">
    <a target="_blank" class="footer-links" href="https://www.youtube.com/watch?v=XgxHvSZukVc&list=PLZldm5UisZ7hF0URq50Eb1H7HmLYpUsqa">Tutorial Videos</a>
  </div>
</div>
<div>
  <p class="contact-heading" href="#">Contact Info</p>
</div>
<div class="contact-information">
  <p>Monday - Friday (8:00am - 5:00pm PST)</p>
  <p><i class="fa fa-phone" aria-hidden="true"></i> (916) 210-4284</p>
  <a class="email-link" href="mailto:ursus@doj.ca.gov"><i class="fa fa-envelope" aria-hidden="true"></i> Email</a>
</div>
