<head>
  <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="../css/custom_css/header.css" rel="stylesheet">
</head>

<div class="navbar-wrapper">
  <nav class="navbar navbar-default navbar-background" role="navigation">
    <div class="container navbar-alignment">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="dashboard.html"><img src="../img/ursus_logo_small.png" height="45px"></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse navbar-padding">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="new-incident-link" href="new_incident.html">New Incident</a></li>
          <li><a class="new-incident-link" href="incident_reports.html">Incident Reports</a></li>
          <li class="dropdown dropdown-pointer user-dropdown-link"><a class="user-dropdown-link" data-toggle="dropdown" href="#">RSmith<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-selections" href="account.html">Account</a></li>
              <li><a class="dropdown-selections" href="#">Log Out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
