<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Dashboard | URSUS | California Use of Force Incident Reporting</title>
		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" />
		<link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link href="/assets/custom_css/dashboard.css" rel="stylesheet">
	</head>
	<body class="page-background">
		<section class="right-section">
			<div>
				<h2 class="user-welcome-header">Welcome, R Smith<h2>
					<h5 class="user-agency">Agency: DOJ</h5>
				</div>
				<div class="incident-report-container">
					<h4 class="incident-report-table-header">Most Recent Incident Reports</h4>
					<table class="table table-striped table-hover table-bordered summary-table">
						<tr class="table-row">
							<th>Incident Code</th>
							<th>Status</th>
							<th>Date Created</th>
							<th>Last Updated</th>
						</tr>
						<tr class="table-row">
							<!-- <td><a class="incident-code" href="incident_report_summary.html" >URSUS-2017-fa91</a></td> -->

							<td><%= link_to "URSUS-2017-fa91", "/incident_report_summary"%></td>
							<td>Incomplete</td>
							<td>07/17/2017</td>
							<td>07/21/2017</td>
						</tr>
						<tr class="table-row">
							<td><a class="incident-code" href="#">URSUS-2017-uf12</a></td>
							<td>Completed</td>
							<td>07/07/2017</td>
							<td>07/10/2017</td>
						</tr>
						<tr class="table-row">
							<td><a class="incident-code" href="#">URSUS-2017-hu87</a></td>
							<td>In review</td>
							<td>06/23/2017</td>
							<td>06/29/2017</td>
						</tr>
						<tr class="table-row">
							<td><a class="incident-code" href="#">URSUS-2017-af33</a></td>
							<td>Rejected</td>
							<td>06/01/2017</td>
							<td>06/14/2017</td>
						</tr>
					</table>
				</div>
			</section>
		</div>
	</body>
</html>
