<div class="incident-details col-md-6">
  <form class="form-group row" style="margin-left:10px; margin-right:10px;">
    <div class="form-group row">
      <label class="col-sm-5">Primary Agency</label>
      <div class="col-sm-7">
        <p>DOJ</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-5">Date of Incident</label>
      <div class="col-sm-7">
        <p>2017-06-13</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-5">Time of Incident</label>
      <div class="col-sm-7">
        <p>15:30</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-5">Location</label>
      <div class="col-sm-7">
        <table class="table table-bordered table-hover">
          <tr>
            <th>Street Address</th>
            <td>111 Main Street</td>
          </tr>
          <tr>
            <th>Address Line 2</th>
            <td>Unit #400</td>
          </tr>
          <tr>
            <th>City</th>
            <td>Sacramento</td>
          </tr>
          <tr>
            <th>County</th>
            <td>Sacramento</td>
          </tr>
          <tr>
            <th>State</th>
            <td>CA</td>
          </tr>
          <tr>
            <th>Zip Code</th>
            <td>95814</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-5">Was Arrest Made</label>
      <div class="col-sm-7">
        <p>Yes</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-5">Was Crime Report Filed</label>
      <div class="col-sm-7">
        <p>Yes</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-5">Number of Officers Involved</label>
      <div class="col-sm-7">
        <p>1</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-5">Number of Civilians Involved</label>
      <div class="col-sm-7">
        <p>1</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-5">Cause of Incident</label>
      <div class="col-sm-7">
        <p>Call for Service</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-5">Description of Events</label>
      <div class="col-sm-7">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    <div class="form-group pull-right">
      <button type="button" class="btn btn-primary">Edit</button>
    </div>
  </form>
</div>

<script type="text/javascript">

$(document).ready(function(){
    $("header")[1].remove()
  });
</script>
