<div class="incident-details col-md-6">
  <form class="form-group row" style="margin-left:10px; margin-right:10px;">
    <div class="form-group row">
      <label class="col-sm-5">Officer</label>
      <div class="col-sm-7">
        <p>1</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-5">Civilian(s) Engaged</label>
      <div class="col-sm-7">
        <p>1</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-5">Was Civilian Injured</label>
      <div class="col-sm-7">
        <p>Yes</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-5">Injury Level</label>
      <div class="col-sm-7">
        <p>Injury</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-5">Injury Type</label>
      <div class="col-sm-7">
          <p>Internal Injury</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-5">Medical Aid</label>
      <div class="col-sm-7">
          <p>Admitted to hospital - critical injuries</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-5">Pre existing condition</label>
      <div class="col-sm-7">
        <p>No</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-5">Age</label>
      <div class="col-sm-7">
          <p>56-60</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-5">Gender</label>
      <div class="col-sm-7">
        <p>Male</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-5">Race</label>
      <div class="col-sm-7">
          <p>Hispanic</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-5">Force</label>
      <div class="col-sm-7">
        <p>Yes</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-5">Force Type</label>
      <div class="col-sm-7">
          <p>Other physical contact</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-5">Force Location</label>
      <div class="col-sm-7">
          <p>Front upper torso/chest</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-5">Force Against Civilian</label>
      <div class="col-sm-7">
        <p>Yes</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-5">Reason For Force</label>
      <div class="col-sm-7">
          <p>To overcome resistance</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-5">Officer Assaulted</label>
      <div class="col-sm-7">
        <p>Yes</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-5">On Duty</label>
      <div class="col-sm-7">
        <p>Yes</p>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-5">Dress</label>
      <div class="col-sm-7">
          <p>Patrol uniform</p>
      </div>
    </div>
    <div class="form-group pull-right">
      <button type="button" class="btn btn-primary">Edit</button>
    </div>
  </form>
</div>

<script type="text/javascript">

$(document).ready(function(){
    $("header")[1].remove()
  });
</script>
